@page "/profesores"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Profesor</h3>

<EditForm Model="@profesor" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label for="Nombre">Ingrese Nombre: </label>
        <InputText id="Nombre" @bind-Value="profesor.Nombre" />
        <ValidationMessage For="() => profesor.Nombre" />
    </p>

    <p>
        <label for="Apellido">Ingrese Apellido: </label>
        <InputText id="Apellido" @bind-Value="profesor.Apellido" />
        <ValidationMessage For="() => profesor.Apellido" />
    </p>

    <p>
        <label for="Direccion">Ingrese la dirección: </label>
        <InputText id="Direccion" @bind-Value="profesor.Direccion" />
        <ValidationMessage For="() => profesor.Direccion" />
    </p>

    <p>
        <label for="FechaNacimiento">Ingrese una fecha de nacimiento: </label>
        <InputText class="btn btn-warning" id="FechaNacimiento" @bind-Value="profesor.FechaNacimiento.ToShortDateString()" />
        <ValidationMessage For="() => profesor.FechaNacimiento" />
    </p>

    <p>
        <label for="Edad">Ingrese una edad: </label>
        <InputText id="Edad" @bind-Value="profesor.Edad.ToString()" />
        <ValidationMessage For="() => profesor.Edad" />
    </p>

    <p>
        <label for="Titulo">Ingrese el titulo: </label>
        <InputText id="Titulo" @bind-Value="profesor.Titulo" />
        <ValidationMessage For="() => profesor.Titulo" />
    </p>

    <p>
        <label for="NumColegiado">Ingrese el numero de colegiado: </label>
        <InputText id="NumColegiado" @bind-Value="profesor.NumColegiado.ToString()" />
        <ValidationMessage For="() => profesor.NumColegiado" />
    </p>

</EditForm>


<button type="submit" class="btn btn-primary">Guardar</button>

@code {
    Profesor profesor = new Profesor();
    List<Profesor> profesores = new List<Profesor>();

    //Giarda al catedratico en la lista de catedraticos
    protected async Task Guardar()
    {
        profesores.Add(profesor);
        //Manda a grabar localmente la lista de catedraticos
        await localStorage.SetItemAsync("profesores", profesores);
        //Lee la lista guardad localmente y la copia a la lista
        //var name = await localStorage.GetItemAsync<string>("name");
    }
}